<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="BrainGame" Publisher="CN=Brian" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Brain Game</DisplayName>
    <PublisherDisplayName>Brian</PublisherDisplayName>
    <Logo>Assets\Logos\LogoStore.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="BrainGame.Windows.App">
      <m2:VisualElements DisplayName="Brain Game" Square150x150Logo="Assets\Logos\Logo150.png" Square30x30Logo="Assets\Logos\Logo030.png" Description="Brain Game" ForegroundText="light" BackgroundColor="#000000">
        <m2:DefaultTile Square70x70Logo="Assets\Logos\Logo070.png" Square310x310Logo="Assets\Logos\Logo310.png" Wide310x150Logo="Assets\Logos\WideLogo310.png">
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\Logos\SplashScreen.png" BackgroundColor="#000000" />
        <m2:InitialRotationPreference>
          <m2:Rotation Preference="landscape" />
          <m2:Rotation Preference="landscapeFlipped" />
        </m2:InitialRotationPreference>
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>