<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AnimationManager" version="0.5.0.75" targetFramework="wpa81" />
  <package id="Fody" version="1.23.2" targetFramework="wpa81" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="6.0.2" targetFramework="wpa81" />
  <package id="PropertyChanged.Fody" version="1.48.1.0" targetFramework="wpa81" developmentDependency="true" />
</packages>