<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="23236DrDevelop.Binary" Publisher="CN=2C5181F2-C30F-4EA0-A676-61DC3C764E8B" Version="2.1.5.7" />
  <mp:PhoneIdentity PhoneProductId="72e7243c-9d02-418d-89e8-cd0149d23499" PhonePublisherId="2C5181F2-C30F-4EA0-A676-61DC3C764E8B" />
  <Properties>
    <DisplayName>Binary</DisplayName>
    <PublisherDisplayName>BrainOffline</PublisherDisplayName>
    <Logo>Assets\Logos\LogoStore.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="BrainGame.WindowsPhone.App">
      <m3:VisualElements DisplayName="Binary" Square150x150Logo="Assets\Logos\Logo150.png" Square44x44Logo="Assets\Logos\Logo044.png" Description="binary" ForegroundText="light" BackgroundColor="transparent">
        <m3:DefaultTile Wide310x150Logo="Assets\Logos\LogoWide.png" Square71x71Logo="Assets\Logos\Logo071.png">
        </m3:DefaultTile>
        <m3:ApplicationView MinWidth="width320" />
        <!--Used in XAML Designer. DO NOT REMOVE-->
        <m3:InitialRotationPreference>
          <m3:Rotation Preference="portrait" />
        </m3:InitialRotationPreference>
      </m3:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
  </Capabilities>
</Package>